## ローカルでやるなら
## python3 -m http.server 80 --bind 0.0.0.0
## http://192.168.0.104/preseed.cfg
#
# github から取得するなら
# https://raw.githubusercontent.com/jp-yen/dotfiles/refs/heads/main/preseed.cfg
# --- 基本設定 ---
d-i debian-installer/locale string ja_JP.UTF-8
d-i keyboard-configuration/xkb-keymap select us
d-i time/zone string Asia/Tokyo
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string 192.168.0.252

# --- ネットワークとミラー ---
d-i netcfg/get_hostname string flets
d-i netcfg/get_domain string my.home
d-i mirror/country string manual
d-i mirror/http/hostname string mirrors.xtom.jp
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# --- コンポーネント有効化 ---
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# --- ユーザー設定 ---
d-i passwd/root-login boolean true
d-i passwd/root-password password root
d-i passwd/root-password-again password root
d-i passwd/user-fullname string abc123
d-i passwd/username string abc123
d-i passwd/user-password password abc123
d-i passwd/user-password-again password abc123

# パーティショニングの設定
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max

# パーティション設定 レシピ名「my-recipe」を定義
d-i partman-auto/expert_recipe string \
      my-recipe :: \
              512 512 512 fat32 \
                      $primary{ } $iflabel{ gpt } \
                      method{ efi } format{ } \
                      mountpoint{ /boot/efi } . \
              512 512 512 ext4 \
                      $primary{ } \
                      method{ format } format{ } \
                      use_filesystem{ } filesystem{ ext4 } \
                      mountpoint{ /boot } . \
              4096 4096 4096 linux-swap \
                      $lvmok{ } \
                      method{ swap } format{ } . \
              1000 1000 -1 btrfs \
                      $lvmok{ } \
                      method{ format } format{ } \
                      use_filesystem{ } filesystem{ btrfs } \
                      mountpoint{ / } .

# 定義したレシピを選択
d-i partman-auto/choose_recipe select my-recipe

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# --- パッケージ選択 ---
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string git locate tcsh zsh vim nvi screen sudo build-essential sharutils zip manpages manpages-dev manpages-ja manpages-ja-dev syslog-ng htop net-tools fdclone psmisc btrfs-progs sysstat bind9-dnsutils nstreams tshark netcat-openbsd fping traceroute nmap wget

# --- インストール後の自動設定 (late_command) ---

d-i preseed/late_command string \
    in-target wget -O /root/post_install.sh https://raw.githubusercontent.com/jp-yen/dotfiles/refs/heads/main/DEB-inst/post_install.sh; \
    in-target chmod +x /root/post_install.sh; \
    in-target /root/post_install.sh; \
    in-target rm /root/post_install.sh

# --- 完了設定 ---
d-i finish-install/reboot_in_progress note

